body {
    padding-top: 5rem;
}

footer {
    padding-top: 20px;
}

.news__list {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.news__list>li {
    background-color: #f1f1f1;
    width: 340px;
    margin: 10px;
    text-align: left;
    box-shadow: 10px 8px 10px #888888;
    border: 0.5px solid #888888;
    height: 450px;
    position: relative;
    list-style-type: none;
    padding: 10px;
}

.news__listPara {
    text-align: left;
    padding: 5px;
}

.news__listImage {
    width: 210px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}